<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-qr-code-reader" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>QRBase64Reader</name>
    <description>Plugin Cordova pour décoder des QR codes à partir d'images base64</description>
    <license>MIT</license>
    <author>Ton Nom</author>

    <js-module src="www/qrreader.js" name="QRReader">
        <clobbers target="QRReader" />
    </js-module>

    <!-- Android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="QRReader">
                <param name="android-package" value="com.example.qrreader.QRReader" />
            </feature>
        </config-file>

        <source-file src="src/android/QRReader.java" target-dir="src/com/example/qrreader" />

        <!-- <framework src="com.google.zxing:core:3.5.3" /> -->
    </platform>

    <!-- iOS -->
    <platform name="ios">

        <!-- <variable name="UseSwiftLanguageVersion" default="5.0" /> -->

        <config-file target="config.xml" parent="/*">
            <feature name="QRReader">
                <param name="ios-package" value="QRReader" />
                <!-- <param name="onload" value="true" /> -->
            </feature>
        </config-file>

        <header-file src="src/ios/Bridging-Header.h" />
        <source-file src="src/ios/QRReader.swift" />

        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />

        <config-file target="project.pbxproj" parent="/*">
            <build-settings>
                <SWIFT_OBJC_BRIDGING_HEADER>$(PROJECT_DIR)/Plugins/cordova-plugin-qr-code-reader/Bridging-Header.h</SWIFT_OBJC_BRIDGING_HEADER>
                <SWIFT_VERSION>$UseSwiftLanguageVersion</SWIFT_VERSION>
            </build-settings>
        </config-file>

<!--         <preference name="UseSwiftLanguageVersion" value="$UseSwiftLanguageVersion" />

        <config-file target="project.pbxproj" parent="/*">
            <build-settings>
                <SWIFT_VERSION>$UseSwiftLanguageVersion</SWIFT_VERSION>
            </build-settings>
        </config-file> -->

    </platform>


</plugin>
